$vue-color = #4fc08d
$bg-color = #151515
$text-color = #b9b9b9;
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

body
  background-color $bg-color
  color desaturate(lighten($bg-color, 80%), 50%)

.navbar
    border-color desaturate(lighten($bg-color, 30%), 30%)
    background-color #151515!important
    color desaturate(lighten($bg-color, 80%), 50%)
.icon.outbound
    display: none!important
.algolia-search-wrapper
  .algolia-autocomplete
    .ds-dropdown-menu
      border: 0
      background-color desaturate(lighten($bg-color, 15%), 10%)

      &:before
        background-color desaturate(lighten($bg-color, 15%), 10%)
        border: 0;
td, th, .content code
    color: $text-color!important
tr:nth-child(2n)
    background-color: $bg-color!important
.search-box
  input
    border-color desaturate(lighten($bg-color, 30%), 30%)
    background-color $bg-color
    color desaturate(lighten($bg-color, 80%), 50%)
  .suggestions
    background-color desaturate(lighten($bg-color, 15%), 10%)
    border 0
  .suggestion
    a
      color desaturate(lighten($bg-color, 80%), 50%)

    &.focused
      background-color desaturate(lighten($bg-color, 30%), 30%)
      a
        color #fff
h2#first-time-setup + ol > li > code
    background: #3eaf7c;
    color: #fff!important;
    margin: 0 5px;
    font-weight: bold;
#announcements > code,
#messageslanguage > code,
#update-check > code,
#essentials-chat > code,
#worldguard-claims > code,
#guild-list > code,
#guild-buffs > code,
#requirements > code,
#blacklist > code,
#format > code,
#configuration + p > code,
#damage > code,
#cooldowns > code,
#warmups > code
    background-color: #282c34;
    border-width: 1px;
    font-size: .875rem;
    margin: 0;
    padding: .15rem .4rem;
hr
    background-color: #343434 !important;
    border-top: none!important;
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
        
@media (min-width: $MQMobile)
  .dropdown-wrapper
    .nav-dropdown
      background-color desaturate(lighten($bg-color, 15%), 10%)
      border 0

      .dropdown-item
        h4
          border-top-color desaturate(lighten($bg-color, 30%), 30%)

.sw-update-popup
  background-color desaturate(lighten($bg-color, 15%), 10%)
  border 0

.navbar
  border-bottom none!important
  background-color $bg-color

  .site-name
    color #fff

  .links
    background-color $bg-color

.page-edit
  .edit-link
    a
      color desaturate(lighten($bg-color, 50%), 50%)

      &:hover,
      &:focus
        color #fff
  .last-updated
    .prefix
      color desaturate(lighten($bg-color, 50%), 50%)
    
    .time
      color desaturate(lighten($bg-color, 40%), 50%)

h2
  border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

hr
  border-top-color desaturate(lighten($bg-color, 10%), 10%)

.page-nav
  .inner
    color desaturate(lighten($bg-color, 50%), 50%)
    border-top-color desaturate(lighten($bg-color, 10%), 10%)

.sidebar
  background-color $bg-color!important
  border-right-color desaturate(lighten($bg-color, 10%), 10%)

  .nav-links
    border-bottom-color desaturate(lighten($bg-color, 10%), 10%)

  a.sidebar-link
    color desaturate(lighten($bg-color, 80%), 50%)

    &:hover,
    &:focus,
    &.active
      color #fff

  .sidebar-heading
    color desaturate(lighten($bg-color, 80%), 50%)

    &.open,
    &:hover
      color #fff

.nav-links
  a
    color desaturate(lighten($bg-color, 80%), 50%)

    &:hover,
    &:focus,
    &.router-link-active
      color #fff

.home
  .hero
    .description
      color desaturate(lighten($bg-color, 50%), 50%)
    .action-button
      border 0
  .features,
  .footer
    border-top-color desaturate(lighten($bg-color, 10%), 10%)
  .feature
    h2
      color desaturate(lighten($bg-color, 70%), 40%)
    p
      color desaturate(lighten($bg-color, 50%), 50%)
  .footer
    color desaturate(lighten($bg-color, 50%), 50%)
h1, h2, h3, p, li
    color $text-color
  